:host {
  display: flex;
  min-height: 100vh;
}

nav {
  background-color: #AA9A8C;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

nav ul li {
  padding: 10px 20px;
  color: white;
  border-bottom: 2px solid #5e544c;
  cursor: pointer;
  width: 200px;
  transition: .3s;
}

nav ul li.active {
  background-color: #5e544c;
}

.content {
  flex: 1;
  padding: 20px;
  /* overflow: hidden; */
}