<section>
  <div>
    <div class="d-flex flex-wrap mb-3">
      <div class="box1 mb-3"></div>
      <pre class=" mb-3">
  .box1 &lcub;
    width: 200px;
    height: 200px;
    <span class="bg-yellow-950">background: linear-gradient(45deg, #00f376 10%, transparent 10%, transparent 50%, #00f376 50%, #00f376 60%, transparent 60%, transparent 100%);</span>
    background-size: 40px 40px;
  &rcub;
      </pre>
    </div>
    <div class="d-flex flex-wrap mb-3">
      <div class="box2 mb-3"></div>
      <pre class="mb-3">
  .box2 &lcub;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #00f376 10%, transparent 10%, transparent 50%, #00f376 50%, #00f376 60%, transparent 60%, transparent 100%),
      <span class="bg-yellow-950">linear-gradient(135deg, #00f37666 10%, transparent 10%, transparent 50%, #00f37666 50%, #00f37666 60%, transparent 60%, transparent 100%);</span>
    background-size: 40px 40px;
  &rcub;
      </pre>
    </div>
    <div class="d-flex flex-wrap mb-3">
      <div class="box3 mb-3"></div>
      <pre class="mb-3">
  .box3 &lcub;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #00f376 10%, transparent 10%, transparent 50%, #00f376 50%, #00f376 60%, transparent 60%, transparent 100%),
      linear-gradient(135deg, #00f37666 10%, transparent 10%, transparent 50%, #00f37666 50%, #00f37666 60%, transparent 60%,
    transparent 100%);
    background-size: 40px 40px;
    <span class="bg-yellow-950">filter: hue-rotate(calc(90deg));</span>
  &rcub;

      </pre>
    </div>
    <div class="d-flex flex-wrap mb-3">
      <div class="box4 mb-3"></div>
      <pre class="mb-3">
  .box4 &lcub;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #00f376 10%, transparent 10%, transparent 50%, #00f376 50%, #00f376 60%, transparent 60%, transparent 100%),
      linear-gradient(135deg, #00f37666 10%, transparent 10%, transparent 50%, #00f37666 50%, #00f37666 60%, transparent 60%, transparent 100%);
    background-size: 40px 40px;
    filter: hue-rotate(calc(90deg));
    <span class="bg-yellow-950">animation: animate 1s linear infinite;</span>
  &rcub;
  &#64;keyframes animate &lcub;
    0% &lcub;
      background-position: 40px;
    &rcub;

    100% &lcub;
      background-position: 0px;
    &rcub;
  &rcub;
      </pre>
    </div>
  </div>
  <div> <a class="text-cyan-500 underline underline-offset-3"
      href="https://www.youtube.com/watch?v=eDO4bexiZ5g"
      target="_blank">參考來源</a> </div>
</section>